@use "../../scss/" as *;

.post {
  @include themify($themes) {
    padding: 10px;
    margin-bottom: 20px;
    min-width: 260px;
    width: 33.33%;
    @include tablet {
      width: 50%;
    }
    @include mobile {
      width: 100%;
    }
    .post_container {
      overflow: hidden;
      @include flex(unset, unset);
      flex-direction: column;
      .post_img {
        overflow: hidden;
        width: 100%;
        height: 200px;
        border-radius: 10px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        button {
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          background-color: $color-w1;
          opacity: 0;
          transition: all 0.3s;
        }
        &::after {
          background-color: rgba($color: #000000, $alpha: 0.4);
          content: "";
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          opacity: 0;
          transition: all 0.3s;
        }
        &:hover {
          button {
            opacity: 1;
            top: 50%;
          }
          &::after {
            opacity: 1;
          }
        }
      }
      .post_info {
        .post_info-category {
          font-size: 14px;
          color: $color-red;
          font-weight: 500;
          border-bottom: 1px solid $color-red;
          width: max-content;
          text-transform: uppercase;
        }

        .post_info-title {
          font-size: 16px;
          font-weight: 600;
          color: themed("text1");
          @include text(1);
          cursor: pointer;
        }

        .post_info-author {
          @include flex(center, unset);
          .user {
            @include flex(center, unset);
            gap: 6px;
            img {
              width: 28px;
              height: 28px;
              object-fit: cover;
              border-radius: 50%;
              border: 1px solid $color-primary;
            }
            span {
              margin-right: 10px;
              font-size: 14px;
              font-weight: 600;
              color: themed("text1");
            }
          }
          .time {
            font-size: 14px;
            font-weight: 400;
            color: themed("text2");
          }
        }
        & > * {
          margin-top: 6px;
        }
      }
    }
  }
}
