@use "../../scss/" as *;

.profile {
  @include themify($themes) {
    .profile_wrapper {
      padding: 20px;
      border-radius: 10px;
      min-height: 100vh;
      @include flex(unset, unset);
      gap: 20px;
      @include mobile{
        padding: 20px 10px;
      }
      .profile_wrapper-left {
        flex: 7;
        .profile_title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
          color: themed("text1");
        }

        .profile_info {
          background-color: themed("bg2");
          border-radius: 10px;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .profile_info-left {
            display: flex;
            align-items: center;
            &-img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              overflow: hidden;
              position: relative;
              cursor: pointer;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &-content {
              margin-left: 20px;
              h4 {
                font-size: 20px;
                font-weight: 600;
                color: themed("text1");
              }
              h6 {
                font-size: 16px;
                font-weight: 400;
                color: themed("text2");
              }
              span {
                font-size: 14px;
                font-weight: 400;
                color: themed("text2");
              }

              .follow {
                display: flex;
                gap: 8px;
                align-items: center;
                p {
                  font-size: 14px;
                  color: themed("text2");
                  span {
                    color: themed("text1");
                    font-weight: 600;
                  }
                }
              }
            }
          }
          .profile_info-right {
            display: flex;
            align-items: center;
            text-align: center;
            button {
              border: 2px solid themed("text1");
              border-radius: 20px;
              padding: 8px 18px;
              cursor: pointer;
              transition: all 0.3s;
              font-size: 14px;
              font-weight: 700;
              color: themed("text1");
              @include flex(center, center);
              &.edit {
                gap: 6px;
              }
              &.follow {
                background-color: themed("text1");
                color: themed("bg1");
              }
              &.unfollow {
                background-color: themed("bg2");
                color: themed("text1");
              }
              &:hover {
                scale: 0.94;
              }
            }
          }
        }

        .profile_info-body {
          display: none;
          padding: 20px;
          background-color: themed("bg2");
          border-radius: 10px;
          margin-bottom: 20px;
          @include tablet {
            display: block;
          }
          .info_item {
            margin-bottom: 10px;
            min-height: 50px;
            height: max-content;
            h4 {
              font-size: 14px;
              font-weight: 500;
              color: themed("text2");
            }
            span {
              font-size: 16px;
              font-weight: 600;
              color: themed("text1");
            }
            a {
              font-size: 16px;
              font-weight: 600;
              color: $color-primary;
              cursor: pointer;
            }
          }
        }

        .profile_wrapper-left-body {
          .control {
            @include flex(center, unset);
            button {
              color: themed("text1");
              font-weight: 600;
              font-size: 16px;
              margin-right: 10px;
              padding: 10px 20px;
              border-radius: 20px;
              &.active {
                background-color: themed("text1");
                color: themed("bg1");
              }
            }
          }
        }
      }
      .profile_wrapper-right {
        flex: 3;
        @include tablet {
          display: none;
        }
        .title {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
          color: themed("text1");
        }
        .info {
          padding: 20px;
          background-color: themed("bg2");
          border-radius: 10px;
          .info_item {
            margin-bottom: 10px;
            min-height: 50px;
            height: max-content;
            h4 {
              font-size: 14px;
              font-weight: 500;
              color: themed("text2");
            }
            span {
              font-size: 16px;
              font-weight: 600;
              color: themed("text1");
            }
            a {
              font-size: 16px;
              font-weight: 600;
              color: $color-primary;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
