$color-white: #ffffff;

$color-w1: #ffffff;
$color-w2: #f6f6f6;
$color-w3: #e3e3e3;

// $color-b1: #141414;
// $color-b2: #292929;
// $color-b3: #696969;

$color-b1: #090e1a;
$color-b2: #0e1421;
$color-b3: #0e131e;

$color-yellow: #ff9f0a;
$color-red: #ff453a;

$color-grey1: #cccccc;
$color-grey2: #76767a;
$color-grey3: #494949;

$color-txt-l-1: #000000; 
$color-txt-l-2: #76767a; 
$color-txt-l-3: #cccccc; 

$color-txt-d-1: #ffffff; 
$color-txt-d-2: #dfdfe5; 
$color-txt-d-3: #d9d9df;

$color-primary: #007aff;




$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$border-radius-50: 30px;
$border-radius: 6px;
$boder: 1px solid $color-grey3;


$width-siderbar-open: 250px;
$width-siderbar-close: 80px;

$height-topbar: 60px;


$mobile-width: 700px;
$tablet-width: 1024px;

$transition: all .3s;


$width-item: 225px;


